<div class="container mt-5">
  <h2 class="text-center">Adicionar Usuário</h2>
  <form action="/users/save" method="POST">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Digite o nome">
    </div>
    <div class="form-group">
      <label for="age">Idade</label>
      <input type="number" class="form-control" name="age" id="age" placeholder="Digite a idade">
    </div>
    <div class="form-group">
      <label for="age">CEP:</label>
      <input type="number" class="form-control" name="cep" id="cep" placeholder="Digite seu CEP">
    </div>
    <div id="cepInfo"></div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
   
  </form>

  <script>

    async function findCEP(cep) {
      try {
        const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`, {
        headers: {
          'Content-Type': 'application/json'
        }
      })
      
      const data = await response.json();
      console.log(data);
      return data;

    } 
      catch (error) {
      console.log(error);
      return null;
    }
  }
  

  document.getElementById('cep').addEventListener('input', async function (){

    const cep = this.value;
    if(cep.length == 8) {
      const data = await findCEP(cep);
      if(data){
        document.getElementById('cepInfo').innerHTML = `

      <div class="form-group">
      <label for="age">Rua</label>
      <input type="text" class="form-control" name="rua" id="rua" value="${data.logradouro}">
      </div>
      
      <div class="form-group">
      <label for="age">Bairro</label>
      <input type="text" class="form-control" name="bairro" id="bairro" value="${data.bairro}">
      </div>
      
      <div class="form-group">
      <label for="age">Cidade</label>
      <input type="text" class="form-control" name="cidade" id="cidade" value="${data.localidade}">
      </div>
      
       <div class="form-group">
      <label for="age">Estado</label>
      <input type="text" class="form-control" name="uf" id="uf" value="${data.uf}">
      </div>
      
      `
      }
    }
  })

    </script>
</div>
